extends layout

block content
  h1= title
  //- p Welcome to #{title}
  p Network topology of Decentralized Federated Learning Platform
  script.
    //var simulation = d3.forceSimulation(nodes);
  script(src='javascripts/force-directed.js')
